# Data Processing
pandas
numpy

# HuggingFace
transformers
datasets
torch
sentence-transformers

# Vector DB
faiss-cpu
chromadb

# NLP
nltk
scikit-learn

# Visualization (EDA)
matplotlib
seaborn

# App
streamlit

# Utilities
tqdm
python-dotenv