# Data Processing
pandas
numpy

# HuggingFace
transformers
datasets
torch
sentence-transformers

# Vector DB
faiss-cpu
chromadb

# NLP
nltk
scikit-learn

# Visualization
matplotlib
seaborn

# LangChain
langchain
langchain-community
langchain-text-splitters

# Groq
groq

# PDF
pypdf

# App
streamlit

# Utilities
tqdm
python-dotenv
torchvision
accelerate
